 /*element selector
        p{
          color: aqua;
         } */
       /* id selector
       #l-sidebar{
                    font-size: 2em;
                } */
         /* class selector
         .clear{
            font-style: italic;
          } */ 
         /*universal selector
          *{
            padding: 0;
            margin: 0;
          } */  
        /* below is example of adjacent sibling*/
        h1 + p{
            border: 2px solid black ;
           margin: 0;
          } 
          /*general sibling
         h2~p{
           font-style:italic;
              }*/
         /*descendent selector
         li a{
            color: yellowgreen;
         }*/
       /*child selector
        #r-sidebar>ul>li a{
           color: brown;
         }*/