h1{
    background-color: hotpink;
}
h2{
    background-color: indianred;
    position: relative;/*relative:display after the content which is already placed*/
    left: 25px;
    top: -30px;
    z-index: 3;/*z index: +ve value for overlap, -ve value for bhehind*/
}
h3{
    background-color: aquamarine;
}
p{
    background-color: khaki;
    position: relative;
    left: 50px;
    top: -55px;
}