#p1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-style: italic;
}
#p2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    
}