p{
    border: 5px dashed yellowgreen;
}
img{
    width: 80px;
    float: left;
    margin-right: 10px;
 
}
 h5{
    float: left;
    width: 150px;
    height: 150px;
    margin: 30px;
    border: dotted;
    background-color: lightgreen;
}

 